%a{ href: "http://www.fbinc.dk"}
	%img.fbi_logo_small{ src: "/images/logos/fashion_brands_inc.png", width: "10%"}				
%p
%p
%h4 HISTORIE
%p
	Fashion Brands Inc er et dansk firma, som blev etableret i 1975 
	i Thisted under navnet Laniel.
	Firmaet fik nye ejere i 2010, men fortsatte i Thisted indtil 2012, 
	hvor det flyttede til nyt domicil i Nibe og skiftede navn til 
	FASHION BRANDS INC.
%p
	FBInc føre følgende mærker:
	%br
	JEFF – MAYBEE – MONDAY – REBUS – ID DENIM – SUPER EGO
	%br
	Alle vores mærker sælges i Danmark, Norge, Sverige, Finland, 
	Island, Færøerne, Grønland, Tyskland, Holland og England.
%p
	Vores intentioner er, at alle vores brands har det rigtige udtryk, 
	farver og at du får god kvalitet for pengene.
%p
%h4 FILOSOFI
%p
	Fashion Brands Inc er indbegrebet af High Street Fashion for alle 
	6 brands.
	Filosofien er nyskabende mode, med konstant udvikling af nye 
	silhuetter, kvaliteter og udtryk.
	Inspirationen kommer fra mange europæiske storbyer, gade billedet, 
	undergrunden, musikvideoer osv.
	Vi kender morgendagens trends og tilpasser alle de nye tendenser 
	til dine behov.
	Vi ønsker at give dig en god oplevelse og følelse gennem tøjet og 
	mere personlighed med fede detaljer.
%p
	VI HENVISER TIL HJEMMESIDEN FOR DET ENKELTE BRAND!
%p
.english{ style: "color: #555"}
	%p
	%h4 HISTORY
	%p
	%p
		Fashion Brands Inc is a danish company that was est. In 1975
		in Thisted under the name Laniel.
		The company changed ownership in 2010, but continued in Thisted until 
		2012, where it moved to a new domicile in Nibe and changed name to
		FASHION BRANDS INC.
	%p
		FBInc has following brands:
		%br
		JEFF – MAYBEE – MONDAY – REBUS – ID DENIM – SUPER EGO
		%br
		All our brands are sold in Denmark, Norway, Sweden, Finland, Iceland,
		The Faroe Islands, Greenland, Germany, The Netherlands and The UK.
	%p
		Our intensions are that all our brands have the right expression and colours 
		and that you will get great value for a fair price.
	%p
	%h4 PHILOSOPHIE
	%p
		Fashion Brands Inc is the indication of High Street Fashion for all 6 brands.
		The philosophi is innovative fashion, allways developing new silhuettes, fabrics
		and looks.
		The inspiration comes from many european places, the street, subculture,
		musicvideoes ect.
		We know the trends off tomorrow and pick up new key items and pass them to you. 
		We want to give you the best experience and feeling through our clothes and more personality with cool details.
	%p
		WE REFER TO OUR WEBSITE FOR THE INDIVIDUAL BRAND!
