!!! 5
%html{ class: "no-js", lang: "da" }
	/
	/   - - - - - - - - - - - - - - - - - - - - -
	/
	/ 	   Title : WEB Appliances Crest Inc, Web Form Framework
	/ 	   Author : Enrique Phillips
	/ 	   URL : http://www.wac.bz
	/
	/ 	- - - - - - - - - - - - - - - - - - - - -
	%head
		= haml :head, :locals => { }
		:css
			html, body, .content { background-color: #111; }
			html, body, #map-canvas {
				height: 100%;
				margin: 0px;
				padding: 0px
			}
			.marker { width: 200px; }
			#map-canvas img { max-width:none; }


	%body

		#map-canvas
		/ %img{ src: "#{image}"}

		/ Modals
		#projects.modal.hide.fade{ tabindex: "-1", role: "dialog",  :"aria-labelledby"=>"myModalLabelFBInc", :"aria-hidden"=>"true" }


		%script{ src:"https://maps.googleapis.com/maps/api/js?v=3.exp"}

		= javascript_tags

		:javascript
			// Note: This example requires that you consent to location sharing when
			// prompted by your browser. If you see a blank space instead of the map, this
			// is probably because you have denied permission for location sharing.

			var map;
			var shops = [
				#{ Project.all.collect{ |c| c.js_arr }.compact.join }
			]
			// shops[shops.length] = { name: '<h3>Sverige</h3><p><b>kontakt:</b> Torben Kjær</p><p><b>email:</b><a href="mailto:torben@fbinc.dk">torben@fbinc</a></p><p><b>tlf:</b>+45 21664994</p>', lat: 57.1831605, lng: 14.0478214, marker: null };
			// shops[shops.length] = { name: '<h3>Tyskland</h3><p><b>kontakt:</b> Torben Kjær</p><p><b>email:</b><a href="mailto:torben@fbinc.dk">torben@fbinc</a></p><p><b>tlf:</b>+45 21664994</p>', lat: 52.52000659999999, lng: 13.404954, marker: null };
			// shops[shops.length] = { name: '<h3>Færøerne</h3><p><b>kontakt:</b> Torben Kjær</p><p><b>email:</b><a href="mailto:torben@fbinc.dk">torben@fbinc</a></p><p><b>tlf:</b>+45 21664994</p>', lat: 62.007864, lng: -6.7909816, marker: null };
			// shops[shops.length] = { name: '<h3>Holland</h3><p><b>kontakt:</b> Torben Kjær</p><p><b>email:</b><a href="mailto:torben@fbinc.dk">torben@fbinc</a></p><p><b>tlf:</b>+45 21664994</p>', lat: 52.132633, lng: 5.291265999999999, marker: null };
			// shops[shops.length] = { name: '<h3>Norge</h3><p><b>kontakt:</b> Torben Kjær</p><p><b>email:</b><a href="mailto:torben@fbinc.dk">torben@fbinc</a></p><p><b>tlf:</b>+45 21664994</p>', lat: 60.47202399999999, lng: 8.468945999999999, marker: null };
			// shops[shops.length] = { name: '<h3>Island</h3><p><b>kontakt:</b> Halldor</p><p><b>email:</b><a href="mailto:birnag@hj.is">birnag@hj.is</a></p><p><b>tlf:</b>+35 45636300</p>', lat: 64.963051, lng: -19.020835, marker: null };
			// shops[shops.length] = { name: '<h3>Grønland</h3><p><b>kontakt:</b> Torben Kjær</p><p><b>email:</b><a href="mailto:torben@fbinc.dk">torben@fbinc</a></p><p><b>tlf:</b>+45 21664994</p>', lat: 71.706936, lng: -42.604303, marker: null };
			// shops[shops.length] = { name: '<h3>Finland</h3><p><b>kontakt:</b> Pekko Hokkanen</p><p><b>email:</b><a href="mailto:Pekko.hokkanen@goodwear.fi">Pekko.hokkanen@goodwear.fi</a></p><p><b>tlf:</b>+358 50 5557790</p>', lat: 61.92410999999999, lng: 25.748151, marker: null };

			// $1 Firmanavn
			//    adresse
			//    postnr By
			//    land
			// $2 kontaktperson
			// $3 email
			// $4 tlf
			var html_template = '<div class="marker">$1</div>';

			function country(c){
				return c.replace(/danmark/i,'').trim();
			}

			function trimAddress(adr){
				if(adr.replace(/\<br\/\>/g,'').trim()==''){ return ''}
				return adr;
			}

			function formatField(nbr,content) {
				tmpls = [
					'dummy',
					'<h5>$1</h5>',
					'<p><small>$1</small></p>',
					'<p><img src="$1" /></p>',
					'<p><small>$1</small></p>',
					'<p><small>$1</small></p>',
					'<p><small>$1</small></p>'
					]

				return tmpls[nbr].replace(/\$1/g, content);
			}

			function formatFields(shop){
				var card = '';
				card = formatField(1, shop.title) +
				formatField(2,shop.header) +
				formatField(3,shop.image) +
				formatField(4,shop.rubrik) +
				formatField(5,shop.links) +
				formatField(6,shop.amount)
				return card;
			}

			function markerInfoWindow(shop,map){

				var infoWindow = new google.maps.InfoWindow();

				google.maps.event.addListener(shop.marker, 'click', function () {
				   infoWindow.setContent( html_template.replace(/\$1/,formatFields(shop)) );
				   infoWindow.open(map,shop.marker);
				});

			}

			function getSignUp(){
				var jqxhr = $.get('/signup',function(response){
					$('#projects').html(response);
				})
			}

			function getSignIn(){
				var jqxhr = $.get('/login',function(response){
					$('#projects').html(response);
				})
			}

			function getNewProject(){
				var jqxhr = $.get( "/projects/new", function(response) {
				  $('#projects').html(response);
				})
				  .done(function() {
				    // alert( "second success" );
				  })
				  .fail(function() {
				    getSignIn();
				  })
				  .always(function() {
				    // alert( "finished" );
				  });
			}

			function initialize() {
				var mapOptions = {
					zoom: 9
				};
				map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

				var country = '';
				for(var i = 0, l = shops.length; i < l; ++i) {
					var myLatlng = new google.maps.LatLng(shops[i].lat,shops[i].lng);
					var mapOptions = {
					  zoom: 4,
					  center: myLatlng
					}
					// if (shops[i].country!=country){
					// }
					country = shops[i].country;
					shops[i].marker = new google.maps.Marker({
						position: myLatlng,
						map: map,
						title: shops[i].name
					});
					markerInfoWindow(shops[i],map);
				}

				// Try HTML5 geolocation
				if(navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
						var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

						var infowindow = new google.maps.InfoWindow({
							map: map,
							position: pos,
							// content: 'Her er du - cirka :)'
						});

						map.setCenter(pos);
					}, function() {
						handleNoGeolocation(true);
					});
				} else {
					// Browser doesn't support Geolocation
					handleNoGeolocation(false);
				}



				$('body').keydown( function(e){
					if (e.which==117){
						getNewProject();
						$('#projects').modal('show');
					}
				})

			}

			function handleNoGeolocation(errorFlag) {
				if (errorFlag) {
					var content = 'Error: The Geolocation service failed.';
				} else {
					var content = 'Error: Your browser doesn\'t support geolocation.';
				}

				var options = {
					map: map,
					position: new google.maps.LatLng(60, 105),
					content: content
				};

				var infowindow = new google.maps.InfoWindow(options);
				map.setCenter(options.position);
			}


			// function initialize() {
			//   var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
			//   var mapOptions = {
			//     zoom: 4,
			//     center: myLatlng
			//   }
			//   var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			//
			//   var marker = new google.maps.Marker({
			//       position: myLatlng,
			//       map: map,
			//       title: 'Hello World!'
			//   });
			// }

			google.maps.event.addDomListener(window, 'load', initialize);
