- case brand
- when 'jeff'
	%meta{ name:"description", content:"JEFF is street jeanswear for boys at the age 8-16 years"}
	%meta{ name:"author", content:"ALCO Company"}
- when 'rebus_boys'
	%meta{ name:"description", content:"REBUS is a jeanswear brand for boys at the age of 3-9 years"}
	%meta{ name:"author", content:"ALCO Company"}
- when 'rebus_girls'
	%meta{ name:"description", content:"REBUS is a jeanswear brand for girls at the age of 3-9 years"}
	%meta{ name:"author", content:"ALCO Company"}
- when 'maybee'
	%meta{ name:"description", content:"MAYBEE is made for teenage girls at the age of 8-16 years, who wants to create or allready have created their own innovative look"}
	%meta{ name:"author", content:"ALCO Company"}
- when 'monday'	
	%meta{ name:"description", content:"MONDAY is a sharp collection for boys at the age of 8-18 years"}
	%meta{ name:"author", content:"ALCO Company"}
