%header.container-fluid{ style: "padding-top: 2em"}
	.row-fluid{ style: "padding-bottom: 3em"}
		.span3.center
			%a#fbinc_link{ href: "#", :"data-url" => "#fbinc", style: "color: #222; text-decoration: none" }
				%img#fbi_logo{ src: "/images/logos/logo_rebus_invers.png", width: "25%"}
				%br
				.lifted{ style: "color: white"}
					read about REBUS
				%p
					%a{ href: "https://www.facebook.com/RebusJeans"}
						%img{ src: "/images/fb.png", width: "15%"}
				
